    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    header {
        background-color: #007bff;
        color: white;
        padding: 15px;
        text-align: center;
        position: sticky;
        top: 0;
    }
    .saldo {
        font-size: 1.2em;
        margin-top: 10px;
        width: 50%;
        display: flex;
        flex-direction: column; /* Align elements vertically */
    }
    .saldo-text {
        text-align: left;
    }
    .container-deposito {
        display: flex;
        align-items: center;
    }

    .confrontos {
        padding: 20px;
    }
    .confronto {
        border: 1px solid #ccc;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    .confronto h3 {
        margin: 0 0 10px;
    }
    .odds {
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
    }
    .tipo-aposta {
        margin: 15px 0;
    }
    .btn-validar {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn-validar:hover {
        background-color: #218838;
    }
